<div class="about-container container">
	<div class='brief-description'>
		<div class='inner-descript'>
			I'm passionate about what I do. I believe in no fluff, thoughtful content and insightful design. I strive for self-improvement everyday.
		</div>
	</div>
	<div class="about-skills-title">
		Skills
	</div>
	<div class="skills-section">
		<div class="skill skill-1">
			HTML5/ CSS3 / SASS
		</div>
		<div class="skill skill-2">
			Javascript / JQuery
		</div>
		<div class="skill skill-1">
			Bootstrap
		</div>
		<div class="skill skill-2">
			AngularJS
		</div>
		<div class="skill skill-1">
			Node.JS / Express
		</div>
		<div class="skill skill-2">
			Python / Flask
		</div>
		<div class="skill skill-1">
			MySQL
		</div>
		<div class="skill skill-2">
			MongoDB
		</div>
		<div class="skill skill-1">
			Git
		</div>
		<div class="skill skill-2">
			Linux
		</div>
		<div class="skill skill-1">
			Apache
		</div>
		<div class="skill skill-2">
			Sketch
		</div>
	</div>

</div>