<div class="contact-container">
	<div class="my-info-section">
		<div class="info-intro wow fadeIn" data-wow-duration="1s">
			How to reach me
		</div>
		<div class="info-phone-number wow fadeIn" data-wow-duration="1s" data-wow-delay="1.2s">
			(704) 651-7919
		</div>
		<div class="my-email wow fadeIn" data-wow-duration="1s" data-wow-delay="1.2s">
			<a href="javascript:window.location.href = 'mailto:' + 'pirie' + 'david' + ['a','gma'].join('@') + ['il','com'].join('.')"><i class="fa fa-envelope"></i>  pirie<!---->david<!---->a<!---->@<!---->gmail<!---->.<!---->com</a>
		</div>
		<div class="icons-section wow fadeIn" data-wow-duration="1s" data-wow-delay="1.2s">
			<div class="linked-in-link"><a href="www.linkedin.com/in/david-pirie"><i class="fa fa-linkedin-square"></i></a></div>
			<div class="resume-link"><a href="../david_pirie_resume_2017.pdf"><i class="fa fa-file-pdf-o"></i></a></div>
			<div class="github-link"><a href="https://github.com/PirieD704"><i class="fa fa-github"></i></a></div>
		</div>
	</div>
</div>