<div class="projects-container">
<!-- 	<div class="project-title">
		Projects
	</div> -->
	<div class="project-section">
		<div class="space-balls proj-item">
			<div class="item-title">
				SpaceBalls: Arena Game
			</div>
			<div class="links-wrapper">
				<button type="button" class="btn info-link proj-link" data-toggle="modal" data-target="#spaceBallsModal">INFO</button>
				<div class="modal fade" id="spaceBallsModal" tabindex="-1" role="dialog" aria-labelledby="spaceBallsModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="spaceBallsModalLabel">SpaceBalls: A Multiplayer Arena Game</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <img src="../img/portfolio/space_balls.png">
				        <div class="modal-content-title">Built with:</div>
				        <div class="modal-content-description modal-content-tech">
							Socket.IO, Javascript, Angular, Node.JS, Phaser.JS
				        </div>
				        <div class="modal-content-description">
							Spaceballs is a multiplayer capture-the-flag arena game.  There are two teams and you can have up to four players in a 2 v. 2 match up.  The rounds are timed and whoever has possession at the end of two minutes is the winner. Watch out! The flag is not easy to catch!
				        </div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>
				<a href="http://www.davidapirie.com/space_balls"><div class="live-demo-link proj-link">LIVE DEMO</div></a>
				<a href="https://github.com/PirieD704/final_project"><div class="github-link proj-link">GITHUB</div></a>
			</div>		
		</div>
		<div class="janus proj-item">
			<div class="item-title">
				Janus: For Notes
			</div>
			<div class="links-wrapper">
				<div class="info-link proj-link">INFO</div>
				<a href="http://janus.davidapirie.com"><div class="live-demo-link proj-link">LIVE DEMO</div></a>
				<a href="https://github.com/paigen11/back-end"><div class="github-link proj-link">GITHUB</div></a>
			</div>		
		</div>
		<div class="zombiez proj-item">
			<div class="item-title">
				Zombiez: The Game
			</div>
			<div class="links-wrapper">
				<div class="info-link proj-link">INFO</div>
				<a href="http://www.davidapirie.com/zombies"><div class="live-demo-link proj-link">LIVE DEMO</div></a>
				<a href="https://github.com/paigen11/frontend-project"><div class="github-link proj-link">GITHUB</div></a>
			</div>		
		</div>
		<div class="fresh-kicks proj-item">
			<div class="item-title">
				Fresh Kicks: An Ecom Site
			</div>
			<div class="links-wrapper">
				<div class="info-link proj-link">INFO</div>
				<a href="http://www.davidapirie.com/fresh-kicks"><div class="live-demo-link proj-link">LIVE DEMO</div></a>
				<a href="https://github.com/PirieD704/nodeEcommerce"><div class="github-link proj-link">GITHUB</div></a>
			</div>		
		</div>
	</div>
</div>