<div class="projects-container">
<!-- 	<div class="project-title">
		Projects
	</div> -->
	<div class="project-section wow fadeIn" data-wow-duration="1s">
		<div class="space-balls proj-item">
			<div class="item-title-wrap" data-toggle="modal" data-target="#spaceBallsModal">
				<div class="item-title">
					SpaceBalls: Arena Game
				</div>
			</div>
			<div class="links-wrapper">
				<div class="modal fade" id="spaceBallsModal" tabindex="-1" role="dialog" aria-labelledby="spaceBallsModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="spaceBallsModalLabel">SpaceBalls: A Multiplayer Arena Game</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <img src="../img/portfolio/space_balls.png">
				        <div class="modal-content-title">Built with:</div>
				        <div class="modal-content-description modal-content-tech">
							SocketIO, Javascript, Angular, NodeJS, PhaserJS
				        </div>
				        <div class="modal-content-description">
							Spaceballs is a multiplayer capture-the-flag arena game.  There are two teams and you can have up to four players in a 2 v. 2 match up.  The rounds are timed and whoever has possession at the end of two minutes is the winner. Watch out! The flag is not easy to catch!
				        </div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>
				<a href="http://www.davidapirie.com/space_balls"><div class="live-demo-link proj-link"><i class="fa fa-upload"></i> LIVE DEMO</div></a>
				<a href="https://github.com/PirieD704/final_project"><div class="github-link proj-link"><i class="fa fa-github "></i> GITHUB</div></a>
			</div>		
		</div>
		<div class="janus proj-item">
			<div class="item-title-wrap" data-toggle="modal" data-target="#janusModal">
				<div class="item-title">
					Janus: For Notes
				</div>
			</div>
			<div class="links-wrapper">
				<div class="modal fade" id="janusModal" tabindex="-1" role="dialog" aria-labelledby="janusModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="janusModalLabel">Janus: an App For Notes</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <img src="../img/portfolio/janus.png">
				        <div class="modal-content-title">Built with:</div>
				        <div class="modal-content-description modal-content-tech">
							Python, Javascript, MySQL, AngularJS
				        </div>
				        <div class="modal-content-description">
							Janus is a note-taking app for organizing and remembering all the daily bits of information you have buzzing around in your head.  Jot down favorite qoutes, reminders, build lists, and colorize them all to help group similar notes together.  Don't you think it's time to bring a little organization into your life?
				        </div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>	
				<a href="http://janus.davidapirie.com"><div class="live-demo-link proj-link"><i class="fa fa-upload"></i> LIVE DEMO</div></a>
				<a href="https://github.com/paigen11/back-end"><div class="github-link proj-link"><i class="fa fa-github "></i> GITHUB</div></a>
			</div>		
		</div>
		<div class="zombiez proj-item">
			<div class="item-title-wrap" data-toggle="modal" data-target="#zombiezModal">
				<div class="item-title">
					Zombiez: The Game
				</div>
			</div>
			<div class="links-wrapper">
				<div class="modal fade" id="zombiezModal" tabindex="-1" role="dialog" aria-labelledby="zombiezModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="zombiezModalLabel">Zombiez: The Game</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <img src="../img/portfolio/zombies.png">
				        <div class="modal-content-title">Built with:</div>
				        <div class="modal-content-description modal-content-tech">
							Leaflet, Javascript, HTML, CSS
				        </div>
				        <div class="modal-content-description">
							The city of Atlanta is being overrun with zombies!!! You have boarded yourself up in the CDC, the last safe refuge in the city.  You must defend it from the endless hoardes of zombies as they try to overtake you!.  Take out zombies by clicking on them or make use of some special weapons whenever they are available! Good luck... You're gonna need it!
				        </div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>
				<a href="http://www.davidapirie.com/zombies"><div class="live-demo-link proj-link"><i class="fa fa-upload"></i> LIVE DEMO</div></a>
				<a href="https://github.com/paigen11/frontend-project"><div class="github-link proj-link"><i class="fa fa-github "></i> GITHUB</div></a>
			</div>		
		</div>
		<div class="fresh-kicks proj-item">
			<div class="item-title-wrap" data-toggle="modal" data-target="#freshKicksModal">
				<div class="item-title">
					Fresh Kicks: An Ecom Site
				</div>
			</div>
			<div class="links-wrapper">				
				<div class="modal fade" id="freshKicksModal" tabindex="-1" role="dialog" aria-labelledby="feshKicksModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="freshKicksModalLabel">Fresh Kicks: an Ecommerce Site</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <img src="../img/portfolio/shoes.png">
				        <div class="modal-content-title">Built with:</div>
				        <div class="modal-content-description modal-content-tech">
							AngularJS, Express, NodeJS, MongoDB
				        </div>
				        <div class="modal-content-description">
							Fresh Kicks is an online shopping site for the both the casual footwear enthusiast and the elite shoe shopper.  We showcase three new shoes daily that we feel define the best in design, style, and wearability.  Check us out to pick up on new trends and cop the best foot apparel out there. Supplies can be limited depending on the rarity of the shoe so make sure to keep tabs on what's showcased!
				        </div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>
				<a href="http://www.davidapirie.com/fresh-kicks"><div class="live-demo-link proj-link"><i class="fa fa-upload"></i> LIVE DEMO</div></a>
				<a href="https://github.com/PirieD704/nodeEcommerce"><div class="github-link proj-link"><i class="fa fa-github "></i> GITHUB</div></a>
			</div>		
		</div>
	</div>
</div>