<div class="projects-container">
	<div class="project-title">
		Projects
	</div>
	<div class="project-section">
		<div class="space-balls proj-item">
			<div class="item-title">
				SpaceBalls: Multiplayer Arena Game
			</div>
			<div class="links-wrapper">
				<div class="info-link proj-link">INFO</div>
				<a href="http://www.davidapirie.com/space_balls"><div class="live-demo-link proj-link">LIVE DEMO</div></a>
				<a href="https://github.com/PirieD704/final_project"><div class="github-link proj-link">GITHUB</div></a>
			</div>		
		</div>
		<div class="janus proj-item">
			<div class="item-title">
				Janus: For Notes
			</div>
			<div class="links-wrapper">
				<div class="info-link proj-link">INFO</div>
				<a href="http://janus.davidapirie.com"><div class="live-demo-link proj-link">LIVE DEMO</div></a>
				<a href="https://github.com/paigen11/back-end"><div class="github-link proj-link">GITHUB</div></a>
			</div>		
		</div>
		<div class="zombiez proj-item">
			<div class="item-title">
				Zombiez: The Game
			</div>
			<div class="links-wrapper">
				<div class="info-link proj-link">INFO</div>
				<a href="http://www.davidapirie.com/zombies"><div class="live-demo-link proj-link">LIVE DEMO</div></a>
				<a href="https://github.com/paigen11/frontend-project"><div class="github-link proj-link">GITHUB</div></a>
			</div>		
		</div>
		<div class="fresh-kicks proj-item">
			<div class="item-title">
				Fresh Kicks: An Ecommerce Site
			</div>
			<div class="links-wrapper">
				<div class="info-link proj-link">INFO</div>
				<a href="http://www.davidapirie.com/fresh-kicks"><div class="live-demo-link proj-link">LIVE DEMO</div></a>
				<a href="https://github.com/PirieD704/nodeEcommerce"><div class="github-link proj-link">GITHUB</div></a>
			</div>		
		</div>
	</div>
</div>