/* line 6, ../../compass/sass/views/_home.scss */
* {
  color: black;
}

/* line 25, ../../compass/sass/styles.scss */
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url("//demosthenes.info/assets/images/polina.jpg") no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

/* line 40, ../../compass/sass/styles.scss */
.title-name {
  margin-top: 320px;
  font-size: 80px;
  color: #eee;
  text-align: center;
}

/* line 47, ../../compass/sass/styles.scss */
.title-occupation {
  font-size: 50px;
  color: #eee;
  text-align: center;
}

/* line 53, ../../compass/sass/styles.scss */
.navbar {
  margin-top: 260px;
  position: relative;
  background-color: #3c3c3c;
  height: 60px;
  width: 100%;
  z-index: 1000;
  line-height: 60px;
  opacity: .90;
  text-align: center;
}
/* line 63, ../../compass/sass/styles.scss */
.navbar li {
  display: inline-block;
  padding: 0px 60px;
}
/* line 66, ../../compass/sass/styles.scss */
.navbar li a {
  color: #eee;
}

/* line 72, ../../compass/sass/styles.scss */
ul {
  display: block;
  -webkit-padding-start: 0px;
}

/* line 77, ../../compass/sass/styles.scss */
.about-section-wrapper {
  background-color: #3c3c3c;
  width: 100%;
}

/* line 82, ../../compass/sass/styles.scss */
.about-section {
  background-color: #3c3c3c;
  font-size: 26px;
  width: 70%;
  display: block;
  margin: auto;
}
/* line 88, ../../compass/sass/styles.scss */
.about-section span {
  color: #eee;
}

/* line 93, ../../compass/sass/styles.scss */
.controls {
  text-align: center;
  color: #eee;
}
/* line 96, ../../compass/sass/styles.scss */
.controls button {
  background-color: #3c3c3c;
  border: none;
  border-radius: 4%;
  padding: 10px;
}
/* line 102, ../../compass/sass/styles.scss */
.controls button.active {
  background-color: #68b8c4;
}
/* line 105, ../../compass/sass/styles.scss */
.controls label {
  color: white;
}

/* line 110, ../../compass/sass/styles.scss */
.controls {
  background-color: #eee;
}

/* line 114, ../../compass/sass/styles.scss */
#container {
  width: 100%;
  background-color: #eee;
  text-align: center;
  height: 700px;
  display: block;
}

/* line 122, ../../compass/sass/styles.scss */
#container div {
  height: 200px;
  width: 15%;
  padding: 20px;
}

/* line 128, ../../compass/sass/styles.scss */
#container img {
  width: 80%;
  max-height: 80%;
}

/* line 133, ../../compass/sass/styles.scss */
.container .mix, .container .gap {
  display: inline-block;
  width: 23%;
}

/* line 138, ../../compass/sass/styles.scss */
#container .mix {
  display: none;
}

/* line 142, ../../compass/sass/styles.scss */
#mix-wrapper {
  height: 700px;
}

/* line 145, ../../compass/sass/styles.scss */
.projects-wrapper {
  height: 800px;
  text-align: center;
  display: block;
  background-color: #eee;
}

/* line 152, ../../compass/sass/styles.scss */
.projects-title {
  font-size: 30px;
  text-align: center;
}
