/* line 23, ../../compass/sass/styles.sass */
body {
  background: #CAE4D8 url(../../img/build.gif) no-repeat center center fixed;
  background-size: cover;
}
/* line 26, ../../compass/sass/styles.sass */
body .nav-container {
  width: 300px;
  margin-top: 10px;
  box-shadow: 0 2px 2px 2px black;
  transition: all 0.3s linear;
}
/* line 31, ../../compass/sass/styles.sass */
body .nav-container .nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 35, ../../compass/sass/styles.sass */
body .nav-container .nav li {
  height: 50px;
  position: relative;
  background: linear-gradient(#292929, #242424);
}
/* line 39, ../../compass/sass/styles.sass */
body .nav-container .nav li a {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid black;
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 50px;
  color: #bbb;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 25%;
  border-left: 5px solid transparent;
  letter-spacing: 1px;
  transition: all 0.3s linear;
}
/* line 54, ../../compass/sass/styles.sass */
body .nav-container .nav li .active a {
  color: #B93632;
  border-left: 5px solid #B93632;
  background-color: #1B1B1B;
  outline: 0;
}
/* line 59, ../../compass/sass/styles.sass */
body .nav-container .nav li:not(.active):hover a {
  color: #eee;
  border-left: 5px solid #fcfcfc;
  background-color: #1B1B1B;
}
/* line 63, ../../compass/sass/styles.sass */
body .nav-container .nav li:not(.active):hover a span[class^="icon"] {
  position: absolute;
  left: 20px;
  font-size: 1.5em;
  transition: all 0.3s linear;
}
@media only screen and (max-width: 860px) {
  /* line 69, ../../compass/sass/styles.sass */
  body .text {
    display: none;
  }
  /* line 71, ../../compass/sass/styles.sass */
  body .nav-container, body a {
    width: 70px;
  }
  /* line 73, ../../compass/sass/styles.sass */
  body a:hover {
    width: 200px;
    z-index: 1;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid black;
    box-shadow: 0 0 1px 1px black;
  }
  /* line 79, ../../compass/sass/styles.sass */
  body a:hover .text {
    display: block;
    padding-left: 30%;
  }
}
@media only screen and (max-width: 480px) {
  /* line 83, ../../compass/sass/styles.sass */
  body .nav-container, body a {
    width: 50px;
  }
  /* line 85, ../../compass/sass/styles.sass */
  body span[class^="icon"] {
    left: 8px;
  }
}
/* line 87, ../../compass/sass/styles.sass */
body .greeting {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 40px;
  font-family: "Convergence", cursive;
  padding-top: 20%;
  color: #ffffff;
}
/* line 96, ../../compass/sass/styles.sass */
body .greeting .wrapped {
  padding-bottom: 20%;
}
/* line 98, ../../compass/sass/styles.sass */
body .quote-wrapper {
  margin: auto;
  width: 95%;
  color: #ffffff;
}
/* line 102, ../../compass/sass/styles.sass */
body .quote-wrapper .quote-header {
  text-align: left;
  font-family: "Convergence", cursive;
  font-size: 25px;
}
/* line 106, ../../compass/sass/styles.sass */
body .quote-wrapper .quote-section {
  font-family: "Special Elite", sans-serif;
  font-size: 20px;
  text-align: left;
}
/* line 110, ../../compass/sass/styles.sass */
body .quote-wrapper .quote-author-section {
  font-family: "Special Elite", sans-serif;
  font-size: 20px;
  text-align: right;
}
/* line 114, ../../compass/sass/styles.sass */
body .menu_opener {
  display: none;
}
/* line 116, ../../compass/sass/styles.sass */
body .menu_opener:checked ~ .link_one {
  top: 1265px;
}
/* line 118, ../../compass/sass/styles.sass */
body .menu_opener:checked ~ .link_two {
  left: 600px;
}
/* line 120, ../../compass/sass/styles.sass */
body .menu_opener:checked ~ .link_three {
  top: 1585px;
}
/* line 122, ../../compass/sass/styles.sass */
body .menu_opener:checked ~ .link_four {
  left: 280px;
}
/* line 124, ../../compass/sass/styles.sass */
body .menu_opener:checked ~ .barre_hamburger {
  opacity: 0;
}
/* line 126, ../../compass/sass/styles.sass */
body .menu_opener:checked ~ .menu_opener_label:after {
  transform: rotate(45deg);
  top: 70px;
}
/* line 129, ../../compass/sass/styles.sass */
body .menu_opener:checked ~ .menu_opener_label:before {
  transform: rotate(-45deg);
  top: 70px;
}
/* line 132, ../../compass/sass/styles.sass */
body .menu_opener_label {
  background: #f84a20;
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 600px;
  left: 200px;
  z-index: 10;
}
/* line 142, ../../compass/sass/styles.sass */
body .menu_opener_label:after {
  position: absolute;
  top: 50px;
  left: 50px;
  background: #000;
  content: "";
  width: 50px;
  height: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 152, ../../compass/sass/styles.sass */
body .menu_opener_label:before {
  position: absolute;
  top: 90px;
  left: 50px;
  background: #000;
  content: "";
  width: 50px;
  height: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 162, ../../compass/sass/styles.sass */
body .barre_hamburger {
  width: 50px;
  height: 10px;
  position: absolute;
  top: 670px;
  left: 250px;
  background: #000;
  z-index: 20;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 172, ../../compass/sass/styles.sass */
body .link_general {
  font-size: 50px;
  padding-top: 23px;
  padding-left: 25px;
  color: #000;
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 625px;
  left: 225px;
  background: #f84a20;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 187, ../../compass/sass/styles.sass */
body .menu_opener_desktop {
  display: none;
}
/* line 189, ../../compass/sass/styles.sass */
body .menu_opener_desktop:checked ~ .link_one_desktop {
  top: 25px;
}
/* line 191, ../../compass/sass/styles.sass */
body .menu_opener_desktop:checked ~ .link_two_desktop {
  left: 25px;
}
/* line 193, ../../compass/sass/styles.sass */
body .menu_opener_desktop:checked ~ .link_three_desktop {
  top: 325px;
}
/* line 195, ../../compass/sass/styles.sass */
body .menu_opener_desktop:checked ~ .link_four_desktop {
  left: 325px;
}
/* line 197, ../../compass/sass/styles.sass */
body .menu_opener_desktop:checked ~ .barre_hamburger_desktop {
  opacity: 0;
}
/* line 199, ../../compass/sass/styles.sass */
body .menu_opener_desktop:checked ~ .menu_opener_label_desktop:after {
  transform: rotate(45deg);
  top: 70px;
}
/* line 202, ../../compass/sass/styles.sass */
body .menu_opener_desktop:checked ~ .menu_opener_label_desktop:before {
  transform: rotate(-45deg);
  top: 70px;
}
/* line 205, ../../compass/sass/styles.sass */
body .menu_opener_label_desktop {
  background: #f84a20;
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 150px;
  left: 150px;
  z-index: 10;
}
/* line 215, ../../compass/sass/styles.sass */
body .menu_opener_label_desktop:after {
  position: absolute;
  top: 50px;
  left: 50px;
  background: #000;
  content: "";
  width: 50px;
  height: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 225, ../../compass/sass/styles.sass */
body .menu_opener_label_desktop:before {
  position: absolute;
  top: 90px;
  left: 50px;
  background: #000;
  content: "";
  width: 50px;
  height: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 235, ../../compass/sass/styles.sass */
body .barre_hamburger_desktop {
  width: 50px;
  height: 10px;
  position: absolute;
  top: 220px;
  left: 200px;
  background: #000;
  z-index: 20;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 245, ../../compass/sass/styles.sass */
body .link_general_desktop {
  font-size: 50px;
  padding-top: 23px;
  padding-left: 25px;
  color: #000;
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 175px;
  left: 175px;
  background: #f84a20;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
