/* line 5, ../../compass/sass/views/_main.sass */
.main-wrapper {
  background: #ffffff;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin-top: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 14, ../../compass/sass/views/_main.sass */
.main-wrapper .greeting {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 40px;
  font-family: "Convergence", cursive;
  color: #353535;
}
/* line 21, ../../compass/sass/views/_main.sass */
.main-wrapper .greeting .say-hello {
  border-top: 10px solid #3c6e71;
}
/* line 23, ../../compass/sass/views/_main.sass */
.main-wrapper .greeting .declaration {
  font-size: 26px;
  border-bottom: 10px solid #3c6e71;
}

/* line 5, ../../compass/sass/views/_about.sass */
.about-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* line 12, ../../compass/sass/views/_about.sass */
.about-container .brief-description {
  font-size: 24px;
  font-family: "Convergence", cursive;
  color: #353535;
  text-align: center;
  padding-bottom: 100px;
  border-bottom: 10px solid #3c6e71;
}
/* line 19, ../../compass/sass/views/_about.sass */
.about-container .brief-description .inner-descript {
  width: 65%;
  margin: auto;
}
/* line 22, ../../compass/sass/views/_about.sass */
.about-container .about-skills-title {
  font-family: "Convergence", cursive;
  font-size: 24px;
  padding-top: 100px;
  padding-bottom: 20px;
}
/* line 27, ../../compass/sass/views/_about.sass */
.about-container .skills-section {
  font-family: "Convergence", cursive;
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
/* line 33, ../../compass/sass/views/_about.sass */
.about-container .skills-section .skill {
  width: 50%;
}
/* line 35, ../../compass/sass/views/_about.sass */
.about-container .skills-section .skill-1 {
  border-right: 5px solid #3c6e71;
}
/* line 37, ../../compass/sass/views/_about.sass */
.about-container .skills-section .skill-2 {
  border-left: 5px solid #3c6e71;
}

@media screen and (max-width: 900px) {
  /* line 41, ../../compass/sass/views/_about.sass */
  .about-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
  }
  /* line 49, ../../compass/sass/views/_about.sass */
  .about-container .brief-description {
    font-size: 24px;
    font-family: "Convergence", cursive;
    color: #353535;
    text-align: center;
    padding-bottom: 60px;
    border-bottom: 10px solid #3c6e71;
  }
  /* line 56, ../../compass/sass/views/_about.sass */
  .about-container .brief-description .inner-descript {
    width: 100%;
    margin: none;
  }
  /* line 59, ../../compass/sass/views/_about.sass */
  .about-container .about-skills-title {
    font-family: "Convergence", cursive;
    font-size: 24px;
    padding-top: 60px;
    padding-bottom: 20px;
  }
  /* line 64, ../../compass/sass/views/_about.sass */
  .about-container .skills-section {
    font-family: "Convergence", cursive;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 60px;
    border-bottom: 10px solid #3c6e71;
  }
  /* line 72, ../../compass/sass/views/_about.sass */
  .about-container .skills-section .skill {
    width: 50%;
  }
  /* line 74, ../../compass/sass/views/_about.sass */
  .about-container .skills-section .skill-1 {
    border-right: none;
  }
  /* line 76, ../../compass/sass/views/_about.sass */
  .about-container .skills-section .skill-2 {
    border-left: none;
  }
}
/* line 5, ../../compass/sass/views/_projects.sass */
.projects-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #353535;
  font-family: "Convergence", cursive;
}
/* line 20, ../../compass/sass/views/_projects.sass */
.projects-container .project-section {
  display: flex;
  width: 800px;
  border-top: 10px solid #3c6e71;
  border-bottom: 10px solid #3c6e71;
  padding: 20px 0px;
}
/* line 26, ../../compass/sass/views/_projects.sass */
.projects-container .space-balls {
  background: #d9d9d9 url("../../img/portfolio/space_balls_bgrd.jpg") no-repeat;
  background-size: cover;
}
/* line 29, ../../compass/sass/views/_projects.sass */
.projects-container .janus {
  background: #d9d9d9 url("../../img/portfolio/organized.jpg") no-repeat;
  background-size: cover;
}
/* line 32, ../../compass/sass/views/_projects.sass */
.projects-container .zombiez {
  background: #d9d9d9 url("../../img/portfolio/zombies2.jpg") no-repeat;
  background-size: cover;
}
/* line 35, ../../compass/sass/views/_projects.sass */
.projects-container .fresh-kicks {
  background: #d9d9d9 url("../../img/portfolio/shoes-bg.jpg") no-repeat;
  background-size: cover;
}
/* line 38, ../../compass/sass/views/_projects.sass */
.projects-container .project-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* line 44, ../../compass/sass/views/_projects.sass */
.projects-container .project-section .proj-item {
  width: 360px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 6px;
}
/* line 51, ../../compass/sass/views/_projects.sass */
.projects-container .project-section .proj-item .item-title {
  font-size: 22px;
  background-color: #d9d9d9;
  color: #353535;
  margin: 10px;
  padding: 15px 0px 15px 0px;
  opacity: 1;
  margin-bottom: 50px;
}
/* line 59, ../../compass/sass/views/_projects.sass */
.projects-container .project-section .proj-item .links-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  background-color: #284b63;
  font-size: 13px;
  color: #ffffff;
}
/* line 67, ../../compass/sass/views/_projects.sass */
.projects-container .project-section .proj-item .links-wrapper .btn {
  background-color: #284b63;
  font-size: 13px;
  color: #ffffff;
  border-radius: 0px;
  margin: 0px;
}
/* line 73, ../../compass/sass/views/_projects.sass */
.projects-container .project-section .proj-item .links-wrapper .btn:focus {
  box-shadow: 0 0 0 0px #284b63;
}
/* line 75, ../../compass/sass/views/_projects.sass */
.projects-container .project-section .proj-item .links-wrapper a {
  color: #ffffff;
  text-decoration: none;
}
/* line 78, ../../compass/sass/views/_projects.sass */
.projects-container .project-section .proj-item .links-wrapper .proj-link {
  padding: 20px;
}
/* line 80, ../../compass/sass/views/_projects.sass */
.projects-container .project-section .proj-item .links-wrapper .proj-link:hover {
  background-color: #d9d9d9;
  color: #3c6e71;
  transition: all 0.25s ease-in-out;
}

@media screen and (max-width: 800px) {
  /* line 86, ../../compass/sass/views/_projects.sass */
  .projects-container {
    margin-top: 80px;
    height: 100%;
  }
  /* line 91, ../../compass/sass/views/_projects.sass */
  .projects-container .project-section {
    width: 400px;
    margin-bottom: 20px;
  }
}
/* line 23, ../../compass/sass/styles.sass */
body {
  background-color: #ffffff;
}
/* line 25, ../../compass/sass/styles.sass */
body .nav-container {
  font-size: 24px;
  background-color: #d9d9d9;
}
/* line 28, ../../compass/sass/styles.sass */
body .nav-container .nav-link {
  color: #353535;
  transition: all 0.25s ease-in-out;
}
/* line 31, ../../compass/sass/styles.sass */
body .nav-container .nav-link:hover {
  background-color: #284b63;
  opacity: 0.9;
  color: #ffffff;
}
